@font-face {
  font-family: "Acumin Pro Regular";
  src: url("/assets/fonts/Acumin-RPro.otf") format("opentype");
}
@font-face {
  font-family: "Acumin Pro Bold";
  src: url("/assets/fonts/Acumin-BdPro.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Acumin Pro Regular", sans-serif;
}

#login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A8C0E6;
  display:flex;
  position:absolute;
  top:0;
}

.hidden{
    display:none;
}

.main-nav {
  width: 100%;
  height: 5rem;
  background-color: #222222;
  display: flex;
  justify-content: space-evenly;
}

.jkpg-logo-nav-container {
  display: flex;
  align-items: center;
  width: 11rem;
  padding: 0.5rem;
}

.jpkg-logo {
  width: 100%;
}

.nav-central-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-central-links a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
}

.nav-central-links a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.nav-side-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.nav-side-links a {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.nav-side-links a:hover {
  background-color: white;
  color: #222222;
}

.nav-side-links svg {
  color: white;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title-section {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #375aa5;
  padding: 0 8%;
}
h1 {
  font-family: "Acumin Pro Regular", sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 900;
}
h3 {
  font-family: "Acumin Pro Regular", sans-serif;
  color: white;
  font-size: 0.8rem;
  width: 40%;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.optionsNav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 8%;
}
.sortContainer {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-between;
}
h2 {
  font-family: "Acumin Pro Regular", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
}

.sortContainer button {
  background: none;
  border: none;
  color: #000000;
  font-size: 1rem;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.active {
  opacity: 1 !important;
}
.active::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #000000;
  margin-top: 0.2rem;
}

.addButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: auto; /* Let height be determined by content */
  background: none;
  border: none;
}
.addButton p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #000000;
  height: 2rem; /* Remove fixed height */
}
.addButton img {
  height: 1rem; /* Match text size for better alignment */
  width: auto;
  margin-right: 0.5rem;
}
