@font-face {
    font-family: Acumin Pro Regular;
    src: url("/assets/fonts/Acumin-RPro.otf") format("opentype");
}
@font-face {
    font-family: Acumin Pro Bold;
    src: url("/assets/fonts/Acumin-BdPro.otf") format("opentype");
}


* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

nav{
    width:100%;
    background-color: #222222;
    display:flex;
    align-items: space-between;
}

.jkpg-logo-nav-container{
    width:11rem;
    padding:0.5rem;
    
}

.jpkg-logo{
    width:100%;
}

.nav-central-links{
    display:flex;
    gap:2rem;
    align-items: center;
}

.nav-central-links a{
    padding:0.5rem;
    color:white;
    text-decoration: none;
    text-transform: uppercase;

}

.nav-side-links a{
    padding:0.5rem;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-side-links svg{
    color:white;
}

